/* Utility */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a,
.button,
.fa-heart,
.fa-folder {
  cursor: pointer;
}

/* area principale */

.macro_area_1 {
  height: calc(100vh - 10vh);
  background-color: blue;
}

/* barra laterale */

.menu_laterale {
  width: 200px;
  height: calc(100vh - 10vh);
  background-color: #000000;
  float: left;
  position: relative;
  color: #818181;
  font-weight: 600;
}

.spotify {
  width: 80%;
  padding: 1rem;
}

.icon {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}

.home_menu > ul {
  list-style: none;
  display: inline-block;
}

.home_menu > ul li,
.playlist_menu > ul {
  padding-left: 1rem;
  overflow: auto;
}

.border {
  border-left: 3px solid #adff2f;
}

.home_menu > ul li a.white {
  color: white;
}

h5 {
  text-transform: uppercase;
  color: white;
  padding-left: 1rem;
  padding-top: 1rem;
}

.fa-plus-square {
  vertical-align: middle;
}

.home_menu > ul li a,
.playlist_menu > ul li a {
  color: #818181;
  text-decoration: none;
  line-height: 30px;
  font-size: 14px;
}

.playlist_menu > ul li a:hover {
  color: white;
}

.home_menu > ul li a:hover {
  color: white;
}

.playlist_menu > ul {
  list-style: none;
  padding-top: 1rem;
}

/* secondo contenitore */

.secondo_contenitore {
  background-color: #000000;
  padding: 1rem;
}

.user_name {
  color: #818181;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.broke {
  padding: 0.5rem;
  border-bottom: 1px solid #818181;
  width: 90%;
}

.utente {
  padding-top: 0.5rem;
}

.profile {
  color: white;
  background-color: gray;
  border-radius: 50%;
  padding: 1px;
  width: 13%;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.app:hover {
  color: white;
}

.name {
  color: white;
  font-weight: 700;
}

/* /.barra laterale  */

/* Header */

.upgrade {
  width: calc(100% - 200px);
  height: 10%;
  background-color: #080b12;
  float: left;
  vertical-align: top;
  position: relative;
}

.button {
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 15px;
  right: 25px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  font-size: 15px;
  /*  transition: all 0.2s ease; */
}

.button:hover {
  transform: scale(1.1);
}

/* ./header */

/* Main */

.main {
  width: calc(100% - 200px);
  /* height: calc(100% - 10%); */
  height: 100%;
  float: left;
  background-color: #141922;
  vertical-align: middle;
}

.menu_podcast {
  padding: 1rem;
  position: absolute;
  left: 20%;
}

.menu_podcast > ul li {
  list-style: none;
  float: left;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 1rem;
}

.menu_podcast > ul li a {
  text-decoration: none;
  color: #73757a;
  position: relative;
}

.menu_podcast > ul li a:hover {
  color: white;
}

.menu_podcast > ul li a.green::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #adff2f;
  display: block;
  position: absolute;
  left: 30%;
  bottom: -5px;
}

/*************** Layout canzoni ************/

/* Recently played */

h3 {
  color: white;
  font-weight: bold;
  font-family: "Monserrat Alternates", sans-serif;
  padding-top: 4rem;
  padding-left: 1rem;
}

.alt_title {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.row {
  width: 100%;
  height: 230px;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* background-color: blanchedalmond; */
}

.row_1 {
  width: 100%;
  height: 180px;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  /* background-color: burlywood; */
}

.row_2 {
  width: 100%;
  height: 200px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  /* background-color: cadetblue; */
}

.music {
  font-weight: bold;
  font-size: 13px;
  color: #787a7f;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
}

.colonna {
  width: 160px;
  height: 300px;
  margin-right: 1rem;
  padding-top: 1rem;
  /*  background-color: coral; */
}

.colonna > .img .album {
  width: 160px;
  height: 160px;
}

.img {
  position: relative;
}

.play {
  position: absolute;
  z-index: 1;
  color: white;
  width: 100%;
  height: 97.5%;
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.colonna:hover .play {
  visibility: visible;
}

.play_border {
  position: absolute;
  z-index: 1;
  color: white;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.colonna:hover .play_border {
  visibility: visible;
}

.descrizione {
  text-align: center;
  color: white;
  padding-top: 0.2rem;
}

.title {
  font-weight: bold;
  font-size: 13px;
}

.subtitle {
  color: #787a7f;
  font-weight: bold;
  font-size: small;
  line-height: 1.5rem;
}

.forma {
  border-radius: 50%;
}

/* ./main */

/* ./ area principale */

/* area footer */

.macro_area_2 {
  min-height: 10vh;
  width: 100%;
  background-color: #282828;
  position: fixed;
  z-index: 1;
  display: flex;
}

.item {
  width: 50vw;
  height: 10vh;
  margin: 5px;
  align-items: center;
  justify-content: start;
  padding-left: 0.5rem;
}

/* colonna 1 */

.item_1 {
  display: flex;
}

.menu_lista > ul li a {
  text-decoration: none;
  color: white;
}

.underline {
  font-weight: bold;
}

.underline:hover {
  text-decoration: underline;
}

.title_song {
  font-size: 10px;
  color: #848484;
}

.menu_lista > ul {
  list-style: none;
  font-size: 13px;
  padding-right: 1rem;
}

.poster {
  max-width: 18%;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.two_icons {
  color: #848484;
}

.fa-heart:hover,
.fa-folder:hover {
  color: white;
}

.fa-heart {
  padding-right: 10px;
}

/* colonna_2 */

.item_2 {
  flex-basis: 100vw;
  flex-grow: 1;
  flex-shrink: 1;
}

.icons_center {
  color: white;
  padding-top: 0.5rem;
  text-align: center;
}

.fa-random,
.fa-step-backward,
.on_play,
.fa-step-forward,
.fa-redo {
  padding-left: 1rem;
  cursor: pointer;
}

.on_play {
  font-size: 25px;
  /* transition: all 0.5s; */
}

.on_play:hover {
  transform: scale(1.1);
}

.timing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-top: 15px;
}

.sec,
.min {
  color: white;
  font-size: 10px;
}

.time {
  width: 400px;
  height: 5px;
  background-color: #5a5a5a;
  margin: 0 1rem;
  border-radius: 50px;
  align-content: center;
  align-items: center;
}

.short {
  width: 100px;
  height: 5px;
  background-color: #c1c1c1;
  border-radius: 10px;
  position: relative;
  align-items: center;
}

.short:hover {
  width: 100px;
  height: 5px;
  background-color: #adff2f;
  border-radius: 10px;
  position: relative;
  align-items: center;
}

.short:hover .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-left: 95px;
  display: flex;
  align-items: center;
}

/* colonna_3 */

.item_3 {
  display: flex;
  justify-content: space-evenly;
}

.foot_icons {
  float: left;
  position: absolute;
  top: 25px;
  vertical-align: middle;
}

.footer_ico {
  float: left;
  color: white;
}

.barra {
  width: 150px;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 10px;
  display: flex;
}

.bar_1 {
  background-color: #c1c1c1;
  width: 30px;
  height: 4px;
  border-radius: 10px;
}
